@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "BauhausRegular";
  src: local("BauhausRegular"),
    url("./fonts/BauhausRegular.ttf") format("truetype");
}

@layer base {
  html {
    font-family: 'BauhausRegular', sans-serif;
  }
}

:root {
  --border-size: 6px;
}


[data-theme="mytheme"] .btn, .select, .card {
  border-width: var(--border-size);
  border-color: black;
}

[data-theme="mytheme"] .btn {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
}

.border-top {
  border-top-width: var(--border-size);

}

.border-bottom {
  border-bottom-width: var(--border-size);
}
