@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bauhaus";
  src: local("Bauhaus"),
    url("./fonts/BAUHHL.ttf") format("truetype");
}

@font-face {
  font-family: "BauhausRegular";
  src: local("BauhausRegular"),
    url("./fonts/BauhausRegular.ttf") format("truetype");
}

@layer base {
  html {
    font-family: 'Bauhaus', sans-serif;
  }

  .title {
     font-family:'BauhausRegular', sans-serif;
  }
}


[data-theme="mytheme"] .btn, .select, .card {
  border-width: 6px;
  border-color: black;
}
